@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0E2236;
  --secondary-color: #0F2338;
}

body {
  color: var(--primary-color);
}

input {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
}
button:hover {
  background-color: var(--secondary-color);
}
